body {
  position: relative;

  height: 100vh;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid black;
  padding: 30px;
}
.select {
  width: 75px;
  height: 30px;
}
